:root {
    --maintextcolor: #000;
    /* var(--maintextcolor)*/
    --mainbodycolor: repeating-linear-gradient(#c9e2e2, #ddd7f3);
    /*  var( --mainbodycolor)*/
    --mainbutcolor: rgb(50, 79, 185);
    /*  var( --mainbutcolor)*/
    --mainbuthovercolor: rgb(64, 172, 205);
    /*  var( --mainbuthovercolor)*/
    --mainbordercolor: rgb(64, 172, 205);
    /*  var( --mainbordercolor)*/

    --darktextcolor: #fff;
    /* var(--darktextcolor) не расставлен*/
    --darkbodycolor: repeating-linear-gradient(#0b2525, #2f2e32);
    /*  var( --darkbodycolor)*/
    --darkbutcolor: rgb(33, 38, 57);
    /*  var( --darkbutcolor)*/
    --darkbuthovercolor: rgb(10, 17, 44);
    /*  var( --darkbuthovercolor)*/
    --darkbordercolor: rgb(13, 21, 49);
    /*  var( --darkbordercolor)*/

}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

div.header {
    border-radius: 4px;
    color: var(--maintextcolor);
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: inherit;
    background: linear-gradient(to bottom left, var(--mainbuthovercolor), var(--mainbutcolor));
    text-align: center;
    margin: 0 0 7px 0;
}

  h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  
  #result {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #timer {
    font-weight: bold;
    margin-top: 20px;
  }
