body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }

#header {
    border-radius: 4px;
    color: #000;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: inherit;
    background: linear-gradient(to bottom left, rgb(64, 172, 205), rgb(50, 79, 185));
    text-align: center;
    margin: 0 0 7px 0;
}

  h1 {
    color: #333;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  
  #result {
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #timer {
    font-weight: bold;
    margin-top: 20px;
  }
